@using Entities
@using Business

@inject B_Category bCategory
@inject NavigationManager navmanager


<div>
    <EditForm Model="oCategory">
        @*<div class="form-group">
                <label>Codigo Categoria:</label>
                <InputText @bind-Value="oCategory.CategoryId" class="form-control" />
            </div>*@

        <div class="form-group">
            <label>Nombre Categoria:</label>
            <InputText @bind-Value="oCategory.CategoryName" class="form-control" />
        </div>

        <input type="button" value="Actualizar Categoria" @onclick="UpdateCategory" class="btn-info" />

    </EditForm>
</div>


@code {
    [Parameter]
    public string IdCategory { get; set; }

    CategoryEntity oCategory = new CategoryEntity();

    protected override async Task OnInitializedAsync()
    {

        oCategory = bCategory.CategoryById(IdCategory);
    }

    private void UpdateCategory()
    {
        bCategory.UpdateCategory(oCategory);
        navmanager.NavigateTo("category/list");
    }
}